<a href="https://colab.research.google.com/github/dineshreddy221/Python/blob/main/flattened_nested_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# flattening the nested list
l = [1,2,3,['a','b',1],'a',2,[2]]
#output : [1,2,3,'a','b']

lst = []
for i in l:
  if type(i) == int:
    lst.append(i)
  elif type(i) == list:
    for elem in i:
      if type(elem) == str:
        lst.append(elem)
    break

print(lst)

[1, 2, 3, 'a', 'b']

In [ ]:
# separate different data types to list of nested categories
l_1 = ["code", "meat",['a','b',1],'a',"img","stress"]
# output :[["code", "meat", 'a','b', 'img', 'stress'],[1]]

str_lst = []
for string in l_1:
  if type(string) == str:
    str_lst.append(string)
  if type(string) == list:
    for elem in string:
      if type(elem) == str:
        str_lst.append(elem)
      else:
        str_lst.insert(len(str_lst), elem)
print(str_lst)

['code', 'meat', 'a', 'b', 1, 'a', 'img', 'stress']

In [ ]:
# nested nested list with integer, strings.
nested_nested_list = [[1, 2, [3, 4, [5, 6, 7]], 8], ['a', 'b', ['c', 'd', ['e', 'f']]]]
# output: [1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f']

lst = []
for elem in nested_nested_list:
  for lst_elem in elem:
    if type(lst_elem) == int:
      # lst.insert(len(lst), lst_elem)
      lst.append(lst_elem)
    else:
      for i in lst_elem:
        if type(i) == int:
          lst.append(i)
        else:
          if type(i) == list:
            for last_lst in i:
              lst.append(last_lst)
          else:
            if type(i) == str:
              lst.append(i)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# Nested nested list with integer and string elements:
nested_nested_list_1 = [[1, 2, [3, 4, ['a', 'b']], 5], ['c', 'd', ['e', 'f', [6, 7, 8]]]]
# output: [1, 2, 3, 4, 'a', 'b', 5, 'c', 'd', 'e', 'f', 6, 7, 8]

lst_3 = []
for nes_nes_lst in nested_nested_list_1:
  for nes_lst in nes_nes_lst:
    if type(nes_lst) == int:
      lst_3.append(nes_lst)
    if type(nes_lst) == list:
      for elem in nes_lst:
        if type(elem) == int:
          lst_3.append(elem)
        if type(elem) == str:
          lst_3.append(elem)
        if type(elem) == list:
          for elem_1 in elem:
            lst_3.append(elem_1)
    if type(nes_lst) == str:
      lst_3.append(nes_lst)

print("original nested nested list", nested_nested_list_1)

print("list of flatten values",lst_3)

original nested nested list [[1, 2, [3, 4, ['a', 'b']], 5], ['c', 'd', ['e', 'f', [6, 7, 8]]]]
list of flatten values [1, 2, 3, 4, 'a', 'b', 5, 'c', 'd', 'e', 'f', 6, 7, 8]

In [ ]:
# Nested nested list with boolean and list elements
nested_nested_list_2 = [[True, False, [True, True, [False, True]], False], [['a', 'b'], ['c', 'd'], [['e'], ['f', 'g']]]]
# output: [True, False, True, True, False, True, False, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

lst_4 = []
for nes_nes_lst_2 in nested_nested_list_2:
  for nes_lst_2 in nes_nes_lst_2:
    # print(nes_lst_2)
    if type(nes_lst_2) == bool:
      lst_4.append(nes_lst_2)
    if type(nes_lst_2) == list:
      for nes_elem in nes_lst_2:
        if type(nes_elem) == bool:
          lst_4.append(nes_elem)
        if type(nes_elem) == list:
          for nes_elem_lst in nes_elem:
            lst_4.append(nes_elem_lst)

        if type(nes_elem) == str:
          lst_4.append(nes_elem)

print("flattened list of values",lst_4)

flattened list of values [True, False, True, True, False, True, False, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [175]:
# Nested nested list with mixed data types
nested_nested_list_3 = [['apple', 'banana', [1, 2, 3]], [4, 5, ['cat', 'dog', ['elephant', 6, 7]]]]
# output: ['apple', 'banana', 1, 2, 3, 4, 5, 'cat', 'dog', 'elephant', 6, 7]

lst_5 = []
for nes_nes_lst_3 in nested_nested_list_3:
  for nes_lst in nes_nes_lst_3:
    # print(nes_lst)
    if type(nes_lst) == str:
      lst_5.append(nes_lst)
    if type(nes_lst) == int:
     lst_5.append(nes_lst)
    if type(nes_lst) == list:
      for elem in nes_lst:
        if type(elem) == int:
          lst_5.append(elem)
        if type(elem) == str:
          lst_5.append(elem)
        if type(elem) == list:
          for nes_elem in elem:
            lst_5.append(nes_elem)



print("flatened list of values", lst_5)

flatened list of values ['apple', 'banana', 1, 2, 3, 4, 5, 'cat', 'dog', 'elephant', 6, 7]