<a href="https://colab.research.google.com/github/dineshreddy221/Python/blob/main/python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

$$ Python\ Data\ Types\ and\ Functions $$

In [ ]:
# integer
number = 7
float_num = 44.5
print("integer number :", number)
print("float number :",float_num)

integer number : 7
float number : 44.5

In [ ]:
# Taking user input.
num = int(input())
float_number = float(input())
print("integer number :",num)
print("float number :", float_number)
print("float number {:.2f}".format(float_number)) # rounding 2decimal.

34
65.8769
integer number : 34
float number : 65.8769
float number 65.88

In [ ]:
name = "dinesh is a nice guy"
print(type(name))
print(name)

<class 'str'>
dinesh is a nice guy

In [ ]:
# capitalize only the first character of a string
name.capitalize()

'Dinesh is a nice guy'

In [ ]:
name.casefold()

'dinesh is a nice guy'

In [ ]:
# It makes the name as center and we can fill the single character, it takes **two arguments**, one argument is integer and another is any character or 
# by default it takes spaces as fill character in second argument. 
name.center(67,"*")

'************************dinesh is a nice guy***********************'

In [ ]:
# it tells us that the character count of a string and it takes **one argument**
name.count("boy")

0

In [ ]:
name.encode()

b'dinesh is a nice guy'

In [ ]:
# it gives a boolean value when it endswith mentioned character True or False.
y = name.endswith("y")
d = name.endswith("d")
print("endswith with y :", y)
print("endswith with d :",d)

endswith with y : True
endswith with d : False

In [ ]:
# it gives a boolean value when it startswith mentioned character True or False.
s = name.startswith("d")
I = name.startswith("i")
print("starts with d :",s)
print("starts witg i :",I)

starts with d : True
starts witg i : False

In [ ]:
# find gives us the indexing position of a character or a string.
index = name.find("boy")
print(index)

-1

In [ ]:
# formating the name inside a placeholder
print("is {}".format(name))

is dinesh is a nice guy

In [ ]:
mydict = {"a":1, "b":2, "c":3, "d":5}
format_string = '{a} {c} {d}'.format_map(mydict)
print(format_string)

1 3 5

In [ ]:
# mapping the lists to dictionary with zipping the each elements of all the attributes and formatting to adictionary.
lst = [1,2,"a",3,"ee"]
lst1 = [23,32,34,65,76]
mydict = dict(zip(lst,lst1))
string = ("{}".format(mydict))
print(string)

{1: 23, 2: 32, 'a': 34, 3: 65, 'ee': 76}

In [ ]:
print(type(string))  # the dictionary converted to a string because format is a string method.
print(type(mydict))  # zipping the each element in the different list combining a dictionary

<class 'str'>
<class 'dict'>

In [ ]:
lst = []
for element in name:
  lst.append(element)
  word_lst = "".join(lst)
print(len(lst))
print(word_lst)

21
dinesh is a smart boy

In [ ]:
type(lst)

list

In [ ]:
# index and find both gives the indexes of particular attribute
# indexing position of **is**
print("index 'is' :",name.index("is"))
print("find 'is' :",name.find("is"))
# indexing position of **boy**
print("index 'is' :",name.index("boy"))
print("find 'is' :",name.find("boy"))

index 'is' : 7
find 'is' : 7
index 'is' : 18
find 'is' : 18

In [ ]:
# isalnum means it gives bollean value of True if condition True, Flase if it is not a alnumeric.
if name.isalnum() == True:
  print("name is alnumeric")
else:
  print("name is not a alnumeric")

name is not a alnumeric

In [ ]:
# checking the name is alphabetical or not
item = "bus007"
if item.isalpha() ==True:
  print("name is alphabetical")
else:
  print("name is not a alphabetical")

name is not a alphabetical

In [ ]:
# ascii means it gives bollean value of True if condition True, Flase if it is not a ascii.
if name.isascii() == True:
  print("name is ascii")
else:
  print("name is not ascii")

name is ascii

In [ ]:
# isalnum means it gives bollean value of True if condition True, Flase if it is not a alnumeric.
num_str = "2345765"
if num_str.isalnum() == True:
  print("num_str is alnumeric")
else:
  print("num_str is not a alnumeric")

num_str is alnumeric

In [ ]:
# isdecimal 
float_str = "8888889"
if float_str.isdecimal() ==True:
  print("float_str is decimal")
else:
  print("float_str is not a decimal")

float_str is decimal

In [ ]:
# isdigit 
digit_str = "8888889"
if digit_str.isdecimal() ==True:
  print("It is a digit")
else:
  print("It is not a digit")

It is a digit

In [ ]:
# islower
if name.islower() ==True:
  print("It is a lowercase")
else:
  print("It is not a lowercase")

It is a lowercase

In [ ]:
# isupper
if name.isupper() ==True:
  print("It is a uppercase")
else:
  print("It is not a uppercase")

It is not a uppercase

In [ ]:
# isnumeric
if name.isnumeric() ==True:
  print("It is a numeric")
else:
  print("It is not a numeric")

It is not a numeric

In [ ]:
# checking the name condition and converting the first characters capital is condition is True other convert all the characters to uppercase.
if name.islower() ==True:
  print(name.title())
else:
  print(name.upper())

Dinesh Is A Smart Boy

In [ ]:
# Join function in python joins the string'
str_join = ["welcome to my home","hgfda"]
str_join = " ".join(str_join) # joining the strings of list with space.
print(str_join)

welcome to my home hgfda

* Maketrans and translate methods

In [ ]:
# maketrans changes the string of charaters to another like replace.
change = name.maketrans("Boy","boy")
# Create a mapping table, and use it in the translate() method to replace any "Boy" characters with a "boy" character
# returns a copy of the string in which all characters have been translated using table 
print(name.translate(change))

dinesh is a smart boy

* Partition

In [ ]:
# parition means splitting with a particular word, the forward and backward words are in a string.
name.partition("a")

('dinesh is ', 'a', ' smart boy')

* Replace

In [ ]:
# Replacing the smart boy with nice guy.
repl_name = name.replace("smart boy","nice guy")
print("replaced the name :", repl_name.capitalize())

replaced the name : Dinesh is a nice guy

* rfind

In [ ]:
# difference between find and rfind 
print("rfind s: ",name.rfind("s"))  # it checks the entire sentence and gives the last found indexing number

# whenever it found the character it immediately gives us the index of that character without searching the entire sentence
print("find s: ", name.find("s"))

rfind s:  12
find s:  4

* rindex

In [ ]:
# difference of rindex and index
print("rindex of 'a':", name.rindex('a'))
print(name)
# 
print("index of 'a': ", name.index('a'))
print(name)

rindex of 'a': 14
dinesh is a smart boy
index of 'a':  10
dinesh is a smart boy

* rpartition

In [ ]:
# diference between rpartition and partition
print("rpartition of 'a':\n ", name.rpartition('a'))
print(name.center(27,"*"))
print("partition of 'a':\n", name.partition('a'))

rpartition of 'a':
  ('dinesh is a sm', 'a', 'rt boy')
***dinesh is a smart boy***
partition of 'a':
 ('dinesh is ', 'a', ' smart boy')

* rsplit

In [ ]:
# diference between rsplit and split
print("rsplit of ' ':\n ", name.rsplit(' '))
print("split of ' ':\n", name.split(' '))

rsplit of ' ':
  ['dinesh', 'is', 'a', 'smart', 'boy']
split of ' ':
 ['dinesh', 'is', 'a', 'smart', 'boy']

* Swapcase

In [ ]:
# If the input string is in small case it swaps the result to upper case.
# If the input string is in upper case it swaps the result to lower case.
name.swapcase()

'DINESH IS A SMART BOY'

$$ Lists\ Data\ Type $$

In [ ]:
lst = [1,2,"a","b",4]
print(lst)

[1, 2, 'a', 'b', 4]

In [ ]:
# list is a heterogenous data
het_lst = [1,2,"ab","re",[2,34,45],("fjaj","sadh",223,34),{"add","addew",1,2},{"hash":12,"thar":21}]
print(het_lst)

[1, 2, 'ab', 're', [2, 34, 45], ('fjaj', 'sadh', 223, 34), {1, 'add', 2, 'addew'}, {'hash': 12, 'thar': 21}]

In [ ]:
print("list object: ",het_lst[2])
print("list inside list: ", het_lst[4][2])
print("tuple inside a list: ", het_lst[5][3])
print("dictionary inside a list: ",het_lst[7]['hash'])

list object:  ab
list inside list:  45
tuple inside a list:  34
dictionary inside a list:  12

* list functions

In [ ]:
# adding the element using append method
het_lst.append([1232,1222])
print(het_lst)

[1, 2, 'ab', 're', [2, 34, 45], ('fjaj', 'sadh', 223, 34), {1, 'add', 2, 'addew'}, {'hash': 12, 'thar': 21}, [1232, 1222], [1232, 1222], [1232, 1222]]

In [ ]:
# removing the last element using remove method by mentioning the element
het_lst.remove([1232,1222])
print(het_lst)

[1, 2, 'ab', 're', [2, 34, 45], ('fjaj', 'sadh', 223, 34), {1, 'add', 2, 'addew'}, {'hash': 12, 'thar': 21}, [1232, 1222], [1232, 1222]]

In [ ]:
# removing the last element from list using pop
het_lst.pop()
print(het_lst)

[1, 2, 'ab', 're', [2, 34, 45], ('fjaj', 'sadh', 223, 34), {1, 'add', 2, 'addew'}, {'hash': 12, 'thar': 21}, [1232, 1222]]

In [ ]:
# pop in list removes the last element from list.
if het_lst[8][0]==1232:
  het_lst.pop()
else:
  print(het_lst)

In [ ]:
print(het_lst)

[1, 2, 'ab', 're', [2, 34, 45], ('fjaj', 'sadh', 223, 34), {1, 'add', 2, 'addew'}, {'hash': 12, 'thar': 21}]

In [ ]:
# reversing the list
het_lst.reverse()
print(het_lst)

[{'hash': 12, 'thar': 21}, {1, 'add', 2, 'addew'}, ('fjaj', 'sadh', 223, 34), [2, 34, 45], 're', 'ab', 2, 1]

In [ ]:
# sorting the list 
lst = [1,2,344345,567,765,543,34,4]
lst.sort()
print(lst)

[1, 2, 4, 34, 543, 567, 765, 344345]

In [ ]:
# reversing the list
lst.reverse()
print(lst)

[344345, 765, 567, 543, 34, 4, 2, 1]

In [ ]:
# insert in lst using positional argument using indexing
lst.insert(2,[23,32])
print(lst)

[344345, 765, [23, 32], 567, 543, 34, 4, 2, 1]

In [ ]:
# extend jut add elements not the data type of elements.
lst.extend({"12":34,"sd":43})
print(lst)

[344345, 765, [23, 32], 567, 543, 34, 4, 2, 1, '1', '2', 34, 43, 12, '12', 'sd']

In [ ]:
# using for loop.
ls = []
for i in range(0,20):
  ls.append(i)
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# printing the even and odd numbers in the range of 20.
even_lst =[]
odd_lst = []
for i in range(1,len(ls)):
  if ls[i]%2==0:
      even_lst.append(ls[i])
  else:
      odd_lst.append(ls[i])
print("Even numbers: \n",even_lst)
print("Odd numbers: \n",odd_lst)

Even numbers:
 [2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd numbers:
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

$$ Tuple\ Data\ Type $$

In [ ]:
tp = 1,2,3,4,5,5,66,7,89,7
tup = (12,23,34,4,5,56,67,76)
print("without paranthesis: \n",tp)
print(type(tp))
print("with paranthesis: \n",tup)
print(type(tup))

without paranthesis:
 (1, 2, 3, 4, 5, 5, 66, 7, 89, 7)
<class 'tuple'>
with paranthesis:
 (12, 23, 34, 4, 5, 56, 67, 76)
<class 'tuple'>

In [ ]:
# count of tuple
print("count of 3 :",tp.count(3))
print("count of 796 :",tup.count(796))

count of 3 : 1
count of 796 : 0

In [ ]:
# index of tuple
print("count of 3 :",tp.index(3))
print("count of 76 :",tup.index(76))

count of 3 : 2
count of 76 : 7

In [ ]:
# Intializing the two empty lists
greater = []
lesser = []
# taking the n as input
n=int(input())
for i in range(len(tp)):
  if tp[i]>n:
    greater.append(tp[i])
  else:
    lesser.append(tp[i])
print("greater than {}:".format(n),greater)
print("less than {} :".format(n),lesser)

50
greater than 50: [66, 89]
less than 50 : [1, 2, 3, 4, 5, 5, 7, 7]

$$ Dictionary\ Data\ Types $$

In [ ]:
# The key of "r" is having twice and the latest key value is ubdated the old "r" value.
dic = {"a":1,"s":3,"r":5,"r":65}
print(dic)
print(type(dic))

{'a': 1, 's': 3, 'r': 65}
<class 'dict'>

$ Methods $

In [ ]:
# when we print the dictionary keys we get keys from dictionary with list of keys
keys = dic.keys()
print("keys of dictionary: ",keys)

keys of dictionary:  dict_keys(['a', 's', 'r'])

In [ ]:
# when we print the dictionary keys we get values from dictionary with list of values.
values = dic.values()
print("values of dictionary:",values)

values of dictionary: dict_values([1, 3, 65])

In [ ]:
# seq − This is the list of values which would be used for dictionary keys preparation.

# value − This is optional, if provided then value would be set to this value
key = dic.fromkeys("a",98)
print("keys values of s:",key)

keys values of s: {'a': 98}

In [ ]:
item = dic.items()
print("key value pair in tuple:",item)

key value pair in tuple: dict_items([('a', 1), ('s', 3), ('r', 65)])

In [ ]:
pop_items = dic.popitem()
print("pop items:", pop_items)
print(dic)

pop items: ('r', 65)
{'a': 1, 's': 3}

In [ ]:
pop_values = dic.pop("a")
print("removing the key value pair:",pop_values)

removing the key value pair: 1

In [ ]:
print("remaining keyvalue pair in dictionary:",dic)

remaining keyvalue pair in dictionary: {'s': 3}

$$ Set\ Data\ Type $$

In [ ]:
sets = {1,2,34,5,56,5,34,32,45,"asf"}
print("Unions:",sets)

Unions: {32, 1, 2, 34, 5, 45, 56, 'asf'}

In [ ]:
sets.add(656)
print("add element to set:",sets)

add element to set: {32, 1, 2, 34, 5, 45, 656, 56, 'asf'}

In [ ]:
sets1 = {12,34,45,56,671,1,78,8}
s=sets.difference(sets1)
print("difference between 2 sets:",s)

difference between 2 sets: {32, 2, 'asf', 5}

In [ ]:
# Returns the symmetric difference of two sets as a new set
s1=sets.symmetric_difference(sets1)
print("sym_difference between 2 sets:",s1)

sym_difference between 2 sets: {32, 2, 5, 8, 12, 78, 'asf', 671}

In [ ]:
# The update() method accepts lists, strings, tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.
# difference ubdate Removes all elements of another set from this set
# intersection Returns the intersection of two sets as a new set
# Updates the set with the intersection of itself and another
# isdisjoint Returns True if two sets have a null intersection
# issubset Returns True if another set contains this set
# issuperset Returns True if this set contains another set
# Updates a set with the symmetric difference of itself and another --> symmetric differrence update

In [ ]:
# Removes all elements of another set from this set
diff_sets1 = {12,23,34,45,56,2}
diff_sets2 = {23,34,43,54,55,4}
s2=diff_sets1.difference_update(diff_sets2)
print("difference update:",s2)
print(sets,sets1)

difference update: None
set() {1, 34, 8, 12, 45, 78, 56, 671}

In [ ]:
# Returns the intersection of two sets as a new set
s3=sets.intersection(sets1)
print("intersection of 2 sets",s3)

intersection of 2 sets set()

In [ ]:
sets2 = {1,2,3,4,5,6,5}
sets3 = {12,23,1,23,3,4}
s4 = sets2.difference(sets3)
print("intesection update:",s4)

intesection update: {2, 5, 6}

In [ ]:
s5 = sets2.symmetric_difference(sets3)
print(s5)

{2, 5, 6, 23, 12}